<style>
  body{
    zoom: 80%;
  }
</style>

<!--Indica la versión de HTML que se usó para escribir el documento e idioma.-->
<!DOCTYPE html>
<html lang="es">
  <head>
    <!--caracteristicas del archivo,tipo de letra etc-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Titulo de la pagina web-->
    <title>Registrarse</title>
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <!--conexion de bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

    
    <div class="block mx-auto my-12 p-8 bg-white w-1/3 border border-gray-200 rounded-lg
    shadow-lg text-gray-800 rounded-3xl">

        <div class="d-flex justify-content-center">
          <!--Imagen de icono de usuario-->
        <!--<img src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png" alt="" style="height: 7rem;">-->
        </div>

        <!--titulo en el container de crear nuevo personal-->
        <h1 class="text-2xl font-bold text-center fs-3">Nuevo Personal</h1>

        <!--post sirve para introducir los parámetros en la solicitud HTTP para el servidor.(no quedan visibles para el usuario).-->
        <form action="" method="post" class="mt-4"> 
            <!--cuadro de texto para escribir el nombre del usuario-->
            <label class="fs-4">Nombre</label>
            <input type="text" name="name" placeholder="Nombre"
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>
            <!--required sirve para que no se pueda enviar el formulaio sin contestar todos los campos-->

            <!--cuadro de texto para escribir el apellido paterno del usuario-->
            <label class="fs-4">Primer Apellido</label>
            <input type="text" name="ap_paterno" placeholder="Apellido Paterno"
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>

            <!--cuadro de texto para escribir el apellido materno del usuario-->
            <label class="fs-4">Segundo Apellido</label>
            <input type="text" name="ap_materno" placeholder="Apellido Materno"
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl">

            <label class="fs-4">Tipo de Personal</label>
            <select name="Id_rol" class="order border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 bg-gray-300 focus:bg-white rounded-3xl"required>
              <option disabled>Seleccione el Tipo de Usuario</option>
              {{#each usi}}
              <option value="{{Id_rol}}">{{Id_rol}}</option>
              {{/each}}

            </select>

            <!--cuadro de texto para escribir el numero de telefono del usuario(no permite mas de 10 digitos ni letras)-->
            <label class="fs-4">Telefono</label>
            <input type="text" name="telefono" placeholder="Numero de Telefono" maxlength="10"
            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>

            <!--cuadro para escibir fecha de nacimiento del usuario(no se puede escibir letas por el tipo date)-->
            <!--<label for="">Fecha de Nacimiento</label>
            <input type="date" name="fecha_n" placeholder="Fecha de Nacimiento"
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>-->

            <!--cuadro de texto para escribir el email del usuario (no se puede contestar sin @)-->
            <label class="fs-4">Correo Electronico</label>
            <input type="email" name="email" placeholder="Email" 
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>

            <!--cuadro de texto para escribir la contraseña del usuario(encriptada)-->
            <label class="fs-4">Contraseña</label>
            <input type="password" name="password" placeholder="Contraseña" 
            class="border border-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 
            bg-gray-300 focus:bg-white rounded-3xl" required>
            
            <!--Boton para enviar formulario previamente contestado correctamente-->
            <button type="submit" class="btn btn-dark btn-lg fs-4 mt-3 w-100">Agregar Personal</button>

            <!--Impime error en la parte inferior del containe-->
            {{#if error}}
                <p class="text-red-500 font-bold text-lg my-3 ">{{error}}</p>
            {{/if}}

        </form>
    
    </div>

</html>
<!--se cierran las etiquetas-->